CONFIG_ESP_HTTP_CLIENT_ENABLE_BASIC_AUTH=y
CONFIG_ESP_HTTP_CLIENT_ENABLE_DIGEST_AUTH=y
CONFIG_ESP_HTTP_ENDPOINT="192.168.1.104:8082"
CONFIG_ESP_WIFI_SSID="MERCUSYS_9908"
CONFIG_ESP_WIFI_PASSWORD="Berezhnoy"
CONFIG_ESP_MAXIMUM_RETRY=16
